<div class="gradient-hero">
  <%= render "shared/page_header", title: "My menus",
        subtitle: "Create your first personalized meal plan." %>
  <%= render "shared/recipe_generator", placeholder: "You don't have any menus yet.", recipes: @recipes %>
</div>
