// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Meal Planner custom colors
$green: #047d5a;
$white: #fff;
$placeholder-gray: #adb5bd;
$recipe-full-star: #f5a623;
$recipe-empty-star: #d0d0d0;
$default-img-font: #adb5bd;
$default-img-gradient-1st: #e9ecef;
$default-img-gradient-2nd: #ced4da;