<%= turbo_stream.update "recipes_list" do %>
<% if user_signed_in? %>
    <h3 class="recipes-list-title">Latest recipes</h3>
  <% end %>
  <%= render "recipes", recipes: @generated_recipes, locked: !user_signed_in? %>
<% end %>
