<div class="gradient-hero">
  <%= render "shared/page_header", title: "Create custom recipes & meal plans",
        subtitle: "Describe what you feel like eating and get healthy, varied recipes for your week effortlessly." %>
  <%= render "shared/recipe_generator" %>
</div>
