<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to (user_signed_in? ? menus_path : root_path), class: "navbar-brand" do %>
      🥗 Meal Planner
    <% end %>
    <div class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <div class="dropdown">
          <a href="#" role="button"
             class="avatar-initials text-decoration-none"
             data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name&.first&.upcase || "?" %>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <%= link_to "Log out", destroy_user_session_path,
                    data: { turbo_method: :delete },
                    class: "dropdown-item" %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
